$container-normal : 1440px;

$white: #ffffff;

$text-primary : #1f1f1f;
$color-primary : #47b900;
$color-tertiary : #f5f5f5;

$sidebar-color : #f5f5f5;
$sidebar-width : 250px;

$content-bg-color : #e6e6e6;




$transition : 0.3s ease-in-out;